<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Object_Detection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="Default" connectionString="Database/data.db;Version=3;" providerName="System.Data.SqlClient" />
	</connectionStrings>
 <userSettings>
  <Object_Detection.Properties.Settings>
   <setting name="dFocus" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="dZoom" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="dPan" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="dTilt" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="dExposure" serializeAs="String">
    <value>0</value>
   </setting>
  </Object_Detection.Properties.Settings>
 </userSettings>
</configuration>